<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Task</title>
</head>
<body>
    <form method="post" action="/add"> 
        <label>Enter New Task here...</label>
        <br>
        <br>

        <input type="text" placeholder=" Enter task title..." name="title">
        <br>
        <br>
        <textarea name="explanation"></textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>