<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
</head>
<body>
    <h1>Tasks List</h1>
    <ul>
        {{range .}}
        <li>
                <a href="/view/{{.ID}}">{{.Title}}</a>
                <form action="/delete/{{.ID}}" method="post" style="display: inline;">
                    <br>
                    <button type="submit">Delete</button>
                </form> 
        </li>
        {{else}}
        <li>No tasks Available</li>
        {{end}}
    </ul>
    <a href="/add">Add new Tasks</a>
</body>
</html>